<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div>
        <h1>Nutri Guard</h1>
        
        <div>
            <h3><a href="viewuser.html">User</a></h3>
        </div>
        <div>
            <h3><a href="viewcompliant&reply.html">Complaint</a></h3>
        </div>
        <div>
            <h3><a href="viewrating.html">Rating</a></h3>
        </div>
        <div>
            <nav>
                <button>Logout</button>
            </nav>
        </div>
    </div>
</body>
</html>