<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View user</title>
</head>
<body>
    <div>
        <table border="1">
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <tr>
                <td><a href="viewmembers.html">001</a></td>
                <td><a href="#">Name</a></td>
                <td><a href="#">email</a></td>
            </tr>
        </table>
    </div>
</body>
</html>